.btnBox{
    padding: 5px;
    height: 100px;
    width: 100%;
    margin-top: 40px;
    vertical-align: bottom;
}

button{
    float: right;
}

.questionContent{
    height: 240px;
}

.answerContent{
    height: 240px;
}

.btnBox > div:nth-child(2){
    height: 38px;
    line-height: 40px;
}