.btnBox{
    padding: 5px;
    height: 100px;
    width: 100%;
    margin-top: 40px;
    vertical-align: bottom;
}

.writeBtn{
    float: right;
    /* height: 30px; */
    /* width: 8%; */
}

.modBtn{
    float: right;
    /* height: 30px; */
    /* width: 8%; */
}

/* .detailContainer{
    width: 100%;
    height: 75%;
} */

.btnBox > div:nth-child(2){
    height: 38px;
    line-height: 40px;
}