*{
    box-sizing: border-box; 
    font-family: 'Jua', sans-serif;
    margin: 0;
}
html, body{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 1fr minmax(850px, 2fr) 1fr;
}
main{
    padding-top: 75px;
}
form{
    margin-top: 100px;
    height: 250px;
}
.idbox{
    border-bottom: 2px solid #bfdada;
}
.phonebox{
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 15px;
}
h1, h3{
    display: inline-block;
    color: #bfdada;
}
.form-control{
    width: 350px;
    display: inline-block;
    margin-left: 40px;
    height: 45px;
}
.btn-secondary{
    margin-left: 30px;
}
.passwordbox{
    border-bottom: 2px solid #bfdada;
}
.textid{
    padding-left: 50px;
}
.id{
    padding-right: 23px;
}