* {
    box-sizing: border-box;
    /* font-family: 'Jua', sans-serif; */
    margin: 0;
    padding: 0;
    font-size: large;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(950px, 2fr) 1fr;
}

h1,h2,h3,h4,h6{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #bfdada;
}

h5{
    margin: 0;
    padding: 0;
    color: black;
}

h3{
    margin-left: 30px;
}

main{
    position: relative;
}

form{
    position: absolute;
    width: 100%;
    height: 850px;
    top: 50px;
    font-family: 'Jua', sans-serif;
}
.text_box{
    border-bottom: 2px solid #bfdada;
    padding-bottom: 10px;
}

#colFormLabelSm{
    width: 400px;
    padding: 0;
}

#id_text{
    padding: 5px 0 0 0;
    text-align: center;
    color: #9dc4c4;
}

.col-sm-10{
    padding: 0;
    width: 400px;
}

.mb-3{
    margin-top: 20px;
    padding-left: 75px;
}

.btn-secondary{
   width: 150px;
   height: 35px;
   margin-left: 30px;
   padding: 0;
}

#colFormLabelSm{
    height: 35px;
}

#autoSizingSelect{
    width: 100px;
}

.table{
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 0;
}

.input-group{
    width: 300px;
    padding-left: 8px;
    vertical-align: top;
    margin-top: 0;
}

#email_box{
    margin-top: 30px;
}

.termsBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    top: 550px;
    position: relative;
}
.useTermsBox{
    overflow-y: auto;
    border: 1px solid #bfdada;
    width: 50%;
    height: 100%;
}
.privacyBox{
    overflow-y: auto;
    border: 1px solid #bfdada;
    width: 50%;
    height: 100%;
}
.joinBox{
    top: 550px;
    position: relative;
    width: 100%;
    height: 70px;
}
.btn-primary{
    position: relative;
    top: 12px;
    background-color: rgb(73, 133, 189);
    width: 200px;
    margin-left: 320px;
}
.checkbox{
    margin-left: 50px;
}
